# sops-nix example secrets definition.
# After generating an age key (see README), copy this to `sops.yaml`
# and uncomment to manage secrets:
#
# keys:
#   - &mario age1EXAMPLE... # your age public key (cat ~/.config/sops/age/keys.txt)
# creation_rules:
#   - path_regex: secrets.*\.yaml$
#     key_groups:
#       - age:
#           - *mario