# Placeholder for encrypted secrets.
#
# Example:
# wireguard_key: examplewguwireguardkey
# wpa_supplicant_network: |
#   network={
#     ssid="MyWifi"
#     psk="supersecret"
#   }
#
# After setting up sops (see README), run:
#   sops secrets/secrets.yaml
# to create/edit this encrypted file.